<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moonblade.bloodbankcet" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/drawericon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name=".sqltest"
            android:label="@string/title_activity_sqltest" >
        </activity>
        <activity
            android:name=".sqlview"
            android:label="@string/title_activity_sqlview" >
        </activity>
        <activity
            android:name=".sqldb"
            android:label="@string/title_activity_sqldb" >
        </activity>
        <activity
            android:name="sparkyd.bloodbankcet.settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
